<launch>

  <node pkg="auto_docking" type="turnover_point_class" name="turnover_point_class">
    <param name="a_x" value="11.84" type="double"/>
    <param name="a_y" value="-6.10" type="double"/>
    <param name="a_z" value="0.983" type="double"/>
    <param name="a_w" value="0.185" type="double"/>
    <param name="b_x" value="11.88" type="double"/>
    <param name="b_y" value="-6.02" type="double"/>
    <param name="b_z" value="0.985" type="double"/>
    <param name="b_w" value="0.173" type="double"/>
    <param name="c_x" value="11.75" type="double"/>
    <param name="c_y" value="-6.23" type="double"/>
    <param name="c_z" value="0.990" type="double"/>
    <param name="c_w" value="0.142" type="double"/>
 </node>  
</launch>
